name: Scheduled Workflow

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  scheduled-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print scheduled message
        run: echo "Scheduled build completed successfully!"
